<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Index Page</title>
<script src="js/jquery-3.1.1.min.js"></script>
<link rel="stylesheet" href="css/style.css">
<script>
/****jquery here****/

</script>
</head>
<body>

<div id="container">
	<h1>Hello rudy</h1>
	<ul>
		<li><a href="./api/v1/rudy">Rudy</a></li>
		<li><a href="./api/v1/map">Restaurants in Bangsue</a></li>
		<li><a href="./api/v1/findxyz?q=x">Find X, Y, Z or any by q={any}</a></li>
		<li>Line Messaging API. <br/>
			<ul>
				<li>1. เพิ่มเพื่อน bot id : @240hfmtg</li>
				<li>2. ส่งข้อความหา bot เช่น สวัสดีครับ</li>
				<li>3. ส่งข้อความหา bot ที่มีคำว่า "ข้อมูลบริษัท" เช่น ขอข้อมูลบริษัทครับ</li>
			</ul>
			<br/>
			<br/>
			<img src="images/screenshot.jpg">
		</li>
	</ul>
</div>

</body>
</html>